*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
VORTRAG/WBS-Vortrag.aux
VORTRAG/WBS-Vortrag.log
VORTRAG/WBS-Vortrag.nav
VORTRAG/WBS-Vortrag.out
VORTRAG/WBS-Vortrag.pdf
VORTRAG/WBS-Vortrag.snm
VORTRAG/WBS-Vortrag.synctex.gz
VORTRAG/WBS-Vortrag.toc
