*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
#Vortrag/WBS-Vortrag.aux
#Vortrag/WBS-Vortrag.log
#Vortrag/WBS-Vortrag.nav
#Vortrag/WBS-Vortrag.out
#Vortrag/WBS-Vortrag.pdf
#Vortrag/WBS-Vortrag.snm
#Vortrag/WBS-Vortrag.synctex.gz
#Vortrag/WBS-Vortrag.toc
#Vortrag/WBS-Vortrag.out
#Vortrag/WBS-Vortrag.nav
#Vortrag/WBS-Vortrag.log
#Vortrag/WBS-Vortrag.aux
#Vortrag/WBS-Vortrag.pdf
#Vortrag/WBS-Vortrag.toc
#Vortrag/WBS-Vortrag.synctex.gz
#Vortrag/WBS-Vortrag.snm
#Vortrag/WBS-Vortrag.out
#Vortrag/WBS-Vortrag.nav
#Vortrag/WBS-Vortrag.log
#Vortrag/WBS-Vortrag.aux
#Vortrag/WBS-Vortrag.pdf
