<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.wbs">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullScreen">
        <activity
            android:name=".VideoScreenActivity"
            android:label="VideoScreenActivity"
            android:theme="@style/FullScreen"/>
        <activity
            android:name=".EnterNewWorldActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="EnterNewWorldActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".CreateProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_create_profile"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SpalshScreen"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FollowerChoiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="FollowerChoiceActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/FullScreenWithActionBar" />
    </application>

</manifest>